# generated: '2026-08-13'
# method: derived
# source: openapi/_original/account.json (Brandcast Swagger 1.2 declaration published at https://s3.amazonaws.com/apidoc.brandcast-prod.io/account.json, referenced by the Swagger UI on https://developer.brandcast.io/)
openapi: 3.1.0
info:
  title: Brandcast Account API
  version: 1.0.0
  description: Account information for a Brandcast account. Part of the Brandcast API, which opens the
    Brandcast platform to developers to programmatically perform Design Studio actions.
  contact:
    name: Brandcast API
    url: https://developer.brandcast.io/
servers:
- url: https://api.brandcast-prod.io/v1
  description: Brandcast production API
externalDocs:
  description: Brandcast API developer portal
  url: https://developer.brandcast.io/
tags:
- name: Account
security:
- apiKeyHeader: []
paths:
  /account:
    get:
      summary: Get account info
      description: Returns account information for this Brandcast account.
      operationId: getAccountInfo
      tags:
      - Account
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema: {}
        '403':
          description: Missing or invalid API key. The Brandcast API gateway answers unauthenticated requests
            with {"message":"Missing Authentication Token"}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued by Brandcast and tied to the developer's Brandcast account. Must be
        sent over HTTPS.
  schemas:
    Error:
      type: object
      description: Error envelope returned by the Brandcast API gateway.
      properties:
        message:
          type: string
