# generated: '2026-08-13'
# method: derived
# source: openapi/_original/templates.json (Brandcast Swagger 1.2 declaration published at https://s3.amazonaws.com/apidoc.brandcast-prod.io/templates.json, referenced by the Swagger UI on https://developer.brandcast.io/)
openapi: 3.1.0
info:
  title: Brandcast Templates API
  version: 1.0.0
  description: Read access to the templates in a Brandcast account, their content and their media libraries.
    Templates are the starting point for creating websites through the Brandcast API.
  contact:
    name: Brandcast API
    url: https://developer.brandcast.io/
servers:
- url: https://api.brandcast-prod.io/v1
  description: Brandcast production API
externalDocs:
  description: Brandcast API developer portal
  url: https://developer.brandcast.io/
tags:
- name: Templates
security:
- apiKeyHeader: []
paths:
  /templates:
    get:
      summary: Get templates
      description: Returns templates for this Brandcast account.
      operationId: getTemplates
      tags:
      - Templates
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema: {}
        '403':
          description: Missing or invalid API key. The Brandcast API gateway answers unauthenticated requests
            with {"message":"Missing Authentication Token"}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /templates/{templateId}:
    get:
      summary: Get template
      description: Returns data for specified template.
      operationId: getTemplate
      tags:
      - Templates
      parameters:
      - name: templateId
        in: path
        description: Template ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema: {}
        '403':
          description: Missing or invalid API key. The Brandcast API gateway answers unauthenticated requests
            with {"message":"Missing Authentication Token"}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /templates/{templateId}/content:
    get:
      summary: Get template content
      description: Returns content for specified template. Use the optional name parameter to filter content
        by name.
      operationId: getTemplateContent
      tags:
      - Templates
      parameters:
      - name: templateId
        in: path
        description: Template ID
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Filters the result by name
        required: false
        schema:
          type: string
      - name: tags
        in: query
        description: Deprecated.  Optional comma delimited list of tags to filter content by
        required: false
        deprecated: true
        schema:
          type: string
      - name: filterLockedContent
        in: query
        description: Enables/Disables the Locked Content Filter.  Defaults to true.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the size of the result set.
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: If the response value next-offset exists, provide the value here to get the next
          page of results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema: {}
        '403':
          description: Missing or invalid API key. The Brandcast API gateway answers unauthenticated requests
            with {"message":"Missing Authentication Token"}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /templates/{templateId}/medialibrary:
    get:
      summary: Get template media library
      description: Returns template's media library.
      operationId: getTemplateMediaLibrary
      tags:
      - Templates
      parameters:
      - name: templateId
        in: path
        description: Template ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema: {}
        '403':
          description: Missing or invalid API key. The Brandcast API gateway answers unauthenticated requests
            with {"message":"Missing Authentication Token"}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued by Brandcast and tied to the developer's Brandcast account. Must be
        sent over HTTPS.
  schemas:
    Error:
      type: object
      description: Error envelope returned by the Brandcast API gateway.
      properties:
        message:
          type: string
